<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/favicon.ico" sizes="16x16">
    <link rel="stylesheet" href="/css/bootstrapV4.min.css">
    <link rel="stylesheet" href="/css/HomePagePortal.css">
    <link rel="stylesheet" href="/css/custom_style.css">
    <title>Copia atti giudiziari</title>
</head>

<body>
    <div class="d-flex toggled" id="wrapper">

        <!--Sidebar-->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Servizi telematici del Tribunale di Brescia.</div>
            <div class="list-group list-group-flush">
                <a href="/service_certificates_request"
                    class="list-group-item list-group-item-action bg-light">Richiesta certificati</a>
                <a href="/service_paper_document_copy_request"
                    class="list-group-item list-group-item-action bg-light selected">Richiesta copie atti giudiziari</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Under construction</a>
            </div>
        </div>
        <!--Page content-->

        <div id="page-content-wrapper">

            <!--Nav Bar-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="col-sm-2">
                    <button class="btn btn-info" id="menu-toggle">Servizi</button>
                </div>
                <div class="col-sm-8 mt-4 text-center">
                    <a class="no_underline_blue" href="/home_page_portal">
                        <h1 class="display-4">Area Riservata</h1>
                    </a>
                </div>
                <div class="col-sm-2">
                    <img class="float-right" src="/img/logo_giustizia_alfa.png" alt="Logo Giustizia"
                        title="Logo della Giustizia">
                </div>
            </nav>

            <!--Middle content-->
            <div class="container-fluid mt-4">
                <div class="col-sm-8 mx-auto">
                    <% if(citizen) { %>
                    <div class="text-center my-5"><a class="btn btn-primary" href="/add_request_copy_document">Chiedi una copia degli atti</a>
                    </div>
                    <% } %>
                    <% if(copy_document_request.length > 0) { %>
                    <table class="table bordo mt-5">
                        <thead>
                            <tr>
                                <th scope="col">Data</th>
                                <th scope="col">Atto giudiziario</th>
                                <th scope="col">Utente</th>
                                <th scope="col">Pagamento</th>
                                <th scope="col">Stato</th>
                                <th class="text-center" scope="col">Comandi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% copy_document_request.forEach(function(request_copy){ %>
                            <tr>
                                <td><%= request_copy.data.toLocaleDateString('it-IT', {day: 'numeric', month: 'numeric', year: 'numeric'}) %>
                                </td>
                                <td><%= request_copy.nome_atto_giudiziario %></td>
                                <td><%= request_copy.cognome %> <%= request_copy.nome %></td>
                                <% if(request_copy.payment == 1) { %>
                                <td>Pagato</td>
                                <% } else { %>
                                <td>Non pagato</td>
                                <% } %>
                                <% if (!citizen) { %>
                                <td>
                                    <span style="display: none;"><%= request_copy.user_id %></span>
                                    <span style="display: none;"><%= request_copy.oid %></span>
                                    <select class="custom-select custom-select-sm select_status_request" id="select_status_request"
                                        <% if(request_copy.status_request=='COMPLETATO') { %> disabled <% } %>>
                                        <option value="NUOVO" <% if(request_copy.status_request=='NUOVO') { %> selected <% } %>>NUOVO</option>
                                        <option value="ATTESA PAGAMENTO" <% if(request_copy.status_request=='ATTESA PAGAMENTO') { %> selected <% } %>>ATTESA PAGAMENTO</option>
                                        <option value="ATTESA PRESA IN CARICO" <% if(request_copy.status_request=='ATTESA PRESA IN CARICO') { %> selected <% } %>>ATTESA PRESA IN CARICO</option>
                                        <option value="PRESA IN CARICO" <% if(request_copy.status_request=='PRESA IN CARICO') { %> selected <% } %>>PRESA IN CARICO</option>
                                        <option value="COMPLETATO" <% if(request_copy.status_request=='COMPLETATO') { %> selected disabled <% } %>>COMPLETATO</option>
                                    </select>
                                </td>
                                <% } else { %>
                                <td><%= request_copy.status_request %></td>
                                <% } %>
                                <td class="text-center">
                                    <a class="see" data-toggle="modal" data-target="#modal_detail" style="cursor: pointer;">
                                        <span style="display: none;"><%= request_copy.oid %></span>
                                        <img src="/img/see_ico_control.png" style="width: 34px;height: 34px">
                                    </a>
                                    <% if (citizen && request_copy.status_request=='ATTESA PAGAMENTO') { %>
                                    <a class="see" data-toggle="modal" data-target="#modal_payment" style="cursor: pointer;">
                                        <span style="display: none;"><%= request_copy.oid %></span>
                                        <img src="/img/payment_ico.png" style="width: 28px;height: 28px">
                                    </a>
                                    <% } %>
                                    <% if(!citizen) { %>
                                    <a class="replay" data-toggle="modal" data-target="#modal_replay"
                                        data-whatever="<%= request_copy.cognome %> <%= request_copy.nome %>" style="cursor: pointer;">
                                        <span style="display: none;"><%= request_copy.oid %></span>
                                        <span style="display: none;"><%= request_copy.user_id %></span>
                                        <img src="/img/reply_ico_control.png" style="width: 34px;height: 34px">
                                    </a>
                                    <a class="delete_request" href="#" style="cursor: pointer;">
                                        <span style="display: none;"><%= request_copy.oid %></span>
                                        <img src="/img/delete_ico.png" style="width: 30px;height: 30px">
                                    </a>
                                    <% } %>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    <% } else { %>
                    <div class="text-center bordo"><strong class="my-5">Nessuna richiesta di copia inoltrata.</strong></div>
                    <% } %>
                    <% if(!citizen) { %>
                    <div class="text-center my-5"><a class="btn btn-primary" href="/edit_prices_copy_document">Modifica tabella prezzi</a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <!-- modal copy request message-->
    <div class="modal fade" id="modal_replay" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Destinatario:</label>
                            <input type="text" class="form-control" id="recipient-name" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Messaggio:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                    <button type="button" id="send_msg_user" class="btn btn-primary">Invia messaggio</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- modal payment-->
    <div class="modal fade" id="modal_payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Completa la domanda di copia dell'atto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="number_copy" class="col-form-label">Numero copie:</label>
                            <input class="form-control" id="number_copy" type="number" value="1" min="1" step="1">
                        </div>
                        <div>Intero documento ?</div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radio_whole_doc" id="radio_whole_doc1" value="whole_doc" checked>
                            <label class="form-check-label" for="radio_whole_doc1">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radio_whole_doc" id="radio_whole_doc2" value="some_pages">
                            <label class="form-check-label" for="radio_whole_doc2">Solo alcune pagine</label>
                        </div>
                        <div class="form-group page_range" style="display: none;">
                            <label for="start_page" class="col-form-label">Pagina iniziale:</label>
                            <input class="form-control" id="start_page" type="number" min="1" step="1" value="1">
                        </div>
                        <div class="form-group page_range" style="display: none;">
                            <label for="finish_page" class="col-form-label">Pagina finale:</label>
                            <input class="form-control" id="finish_page" type="number" min="1" max="" step="1" value="">
                        </div>
                    </form>
                    <div class="text-center">
                        <div class="my-3">
                            <strong>Totale: <span class="totale_prezzo"></span></strong>
                        </div>
                        <div>
                            <a class="mx-2" id="pagamento" href="#"><img src="/img/pagoPA.png" style="width: 100px; height: 70px;"></a>
                        </div>
                        <div class="lds-roller" style="display: none;">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div id="payment_succeded" style="display:none;">
                            <img src="/img/payment_done.png" style="width: 80px; height: 80px;">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                    <button type="button" id="send_payment" class="btn btn-primary" disabled="disabled">Procedi e paga</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal detail copy request -->
    <div class="modal fade" id="modal_detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="float-left mt-2">
                        <p>Data richiesta</p>
                    </div>
                    <div class="float-right">
                        <p id="recap_req_data"></p>
                    </div>
                    <br>
                    <hr>
                    <div class="float-left mt-2">
                        <p>Stato richiesta</p>
                    </div>
                    <div class="float-right">
                        <p id="recap_req_status"></p>
                    </div>
                    <br>
                    <hr>
                    <div class="float-left mt-2">
                        <p>Atto giudiziario</p>
                    </div>
                    <div class="float-right">
                        <p id="recap_req_nome_atto"></p>
                    </div>
                    <br>
                    <hr>
                    <div id="detail_request_copy" style="display: none;">
                        <div class="float-left mt-2">
                            <p>Dettagli richiesta copia</p>
                        </div>
                        <div class="float-right">
                            <button id="recap_detail_copy" href="#" role="button" class="btn btn-secondary btn-sm popover-test"
                                title="Costo totale" data-content="" data-html="true">Dettagli</button>
                        </div>
                        <br>
                        <hr>
                    </div>
                    <div class="float-left mt-2">
                        <p>Autentica</p>
                    </div>
                    <div class="float-right">
                        <p id="recap_req_autentica"></p>
                    </div>
                    <br>
                    <hr>
                    <div class="float-left mt-2">
                        <p>Urgente</p>
                    </div>
                    <div class="float-right">
                        <p id="recap_req_urgente"></p>
                    </div>
                    <br>
                    <hr>
                    <div class="float-left mt-2">
                        <p>Utente richiedente</p>
                    </div>
                    <div class="float-right">
                        <p id="recap_req_user"></p>
                    </div>
                    <br>
                    <hr>
                    <div class="float-left mt-2">
                        <p>Codice fiscale richiedente</p>
                    </div>
                    <div class="float-right">
                        <p id="recap_req_c_f"></p>
                    </div>
                    <br>
                    <hr>
                    <div class="float-left mt-2">
                        <p>Stato pagamento</p>
                    </div>
                    <div class="float-right">
                        <button id="recap_req_payment" href="#" role="button" class="btn btn-secondary btn-sm popover-test"
                            title="Costo totale" data-content="" disabled="disabled"></button>
                    </div>
                    <br>
                    <hr>
                    <div class="float-left mt-2">
                        <p>Allegato copia documento di identità</p>
                    </div>
                    <div class="float-right">
                        <a id="recap_req_copy_c_i" class="tooltip-test" title="Copia documento di identità" style="cursor: pointer;">
                            <img src="/img/download_ico.png" style="width: 20px; height: 20px;">
                        </a>
                    </div>
                    <br>
                    <hr>
                    <div class="float-left mt-2">
                        <p>Allegato Copia codice fiscale</p>
                    </div>
                    <div class="float-right">
                        <a id="recap_req_copy_c_f" class="tooltip-test" title="Copia codice fiscale" style="cursor: pointer;">
                            <img src="/img/download_ico.png" style="width: 20px; height: 20px;">
                            </a>
                    </div>
                    <br>
                    <hr>
                    <div class="float-left mt-2 object-request" style="display: none;">
                        <p>Allegato documento aggiuntivo</p>
                    </div>
                    <div class="float-right object-request" style="display: none;">
                        <a id="recap_req_copy_doc_agg" class="tooltip-test" title="Documento aggiuntivo" style="cursor: pointer;">
                            <img src="/img/download_ico.png" style="width: 20px; height: 20px;">
                            </a>
                    </div>
                    <br class="object-request" style="display: none;">
                    <hr class="object-request" style="display: none;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrapV4.min.js"></script>
    <script src="/js/AllRequestCopy.js"></script>
</body>
</html>