<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Richiesta copie atti</title>

    <link rel="icon" href="/img/favicon.ico" sizes="16x16">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="/css/bootstrapV4.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/css/style3.css">
    <link rel="stylesheet" href="/css/flaty.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/custom_style.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>

</head>

<body>

    <div class="wrapper">

        <!-- Page Content  -->
        <div id="content">

            <div class="row">
                <div class="col-sm-5">
                    <img src="/img/header.jpg" alt="Logo Ufficio Giudiziario" title="Logo Ufficio Giudiziario">
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-3">
                    <img class="float-right" src="/img/logo_giustizia.jpg" alt="Logo Giustizia" title="Logo della Giustizia">
                </div>
            </div>
            
            <nav class="navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-tribunale">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
            
                    <div class="collapse navbar-collapse" id="nav-tribunale">
                        <ul class="nav navbar-nav">
                            <li><a href="/home_page_portal" class="">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button"
                                    aria-expanded="false" style="width: 90px;">Servizi</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/service_certificates_request" class="active"
                                            title="Servizio richiesta certificati">Servizio
                                            richiesta certificati</a></li>
                                    <li><a href="/service_paper_document_copy_request"
                                            title="Servizio richiesta copie atti giudiziari">Servizio richiesta copie atti
                                            giudiziari</a></li>
                                </ul>
                            </li>
                            <li><a href="/all_messages">Comunicazioni</a></li>
                            <li><a href="/logout" class="btn_exit">Uscita</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container-fluid breadcrumb">
                <span>Sei in:&nbsp;&nbsp;</span><a href="/home_page_portal">Home</a><span>&nbsp;&gt;&nbsp;</span><a
                    href="/service_paper_document_copy_request">Servizio richiesta copie atti</a><span>&nbsp;&gt;&nbsp;</span><a href="/edit_prices_copy_document">Modifica tabella degli importi</a>
            </div>

            <!--Middle content-->
            <div class="container-fluid mt-4">
                <div class="col-sm-8 mx-auto">
                    <div class="text-center my-5">
                        <p>Tabella degli <strong>importi € per pagina</strong> in base a numero di pagine/autenticità della copia e urgenza della richiesta.</p>
                    </div>
                    <hr>
                    <% if (rows_prices.length > 0) { %>
                    <table class="table bordo-tabella">
                        <thead>
                            <tr>
                                <th scope="col">Min numero pagine</th>
                                <th scope="col">Max numero pagine</th>
                                <th scope="col">Non autentica/Non urgente</th>
                                <th scope="col">Non autentica/Urgente</th>
                                <th scope="col">Autentica/Non Urgente</th>
                                <th scope="col">Autentica/Urgente</th>
                                <th class="text-center" scope="col">Comandi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% rows_prices.forEach(function(row){ %>
                            <tr>
                                <td style="display: none;"><%= row.oid %></td>
                                <td><%= row.range_min %></td>
                                <td><%= row.range_max %></td>
                                <td class="prezzo" style="cursor: pointer;"><%= row.nonautentica_nonurgente %> €</td>
                                <td class="prezzo" style="cursor: pointer;"><%= row.nonautentica_urgente %> €</td>
                                <td class="prezzo" style="cursor: pointer;"><%= row.autentica_nonurgente %> €</td>
                                <td class="prezzo" style="cursor: pointer;"><%= row.autentica_urgente %> €</td>
                                <td class="text-center">
                                    <a class="delete_copy_price" style="cursor: pointer;">
                                        <img src="/img/delete_ico.png" style="width: 30px;height: 30px">
                                    </a>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    <% } else { %>
                    <div class="text-center bordo"><strong class="my-5">La tabella degli importi è vuota.</strong></div>
                    <% } %>
                    <div class="text-center">
                        <a data-toggle="modal" data-target="#modal_add_new_price" class="btn btn-info my-4 add_new_prices mx-2" style="color: aliceblue;">Aggiungi nuova voce importi</a>
                        <a href="/service_paper_document_copy_request" class="btn btn-info my-4 mx-2"
                            style="color: aliceblue;">Torna alla lista delle richieste</a>
                    </div>
                </div>
            </div>
            <footer class="hiddenApp_ug">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 footer">
                            <p class="link-footer text-center">
                                <a class="link_esterno"
                                    href="http://www.tribunale.brescia.giustizia.it/segnalazioni.aspx">Redazione</a>|<a
                                    class="link_esterno" href="http://www.tribunale.brescia.giustizia.it/Mappa_sito.aspx">Mappa
                                    del sito</a class="link_esterno">|<a class="link_esterno"
                                    href="http://www.tribunale.brescia.giustizia.it/accessibile.aspx">Accessibilità</a
                                    class="link_esterno">|
                                <a class="link_esterno" href="http://www.tribunale.brescia.giustizia.it/note_legali.aspx">Note
                                    legali</a class="link_esterno">| <a href="/logout">Esci</a>
                            </p>
                            <hr>
                            <p class="text-center">
                                Tribunale di brescia
                                -
                                Via L. Gambara, 40
                                -
                                25121
                                Brescia
                                (BS)
                                <br>
                                Centralino:
                                030.7672111
                                <br>
                            </p>
                            <hr>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- modal copy request message-->
    <div class="modal fade" id="modal_add_new_price" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Nuova voce importi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form_new_prices">
                        <div class="form-group">
                            <label for="range_min" class="col-form-label">Da pagina:</label>
                            <input type="number" class="form-control" id="range_min" name="range_min" required>
                        </div>
                        <div class="form-group">
                            <label for="range_max" class="col-form-label">A pagina:</label>
                            <input type="number" class="form-control" id="range_max" name="range_max" required>
                        </div>
                        <div class="form-group">
                            <label for="autentica_urgente" class="col-form-label">Autentica e Urgente:</label>
                            <input type="number" class="form-control" id="autentica_urgente" name="autentica_urgente" required>
                        </div>
                        <div class="form-group">
                            <label for="autentica_nonurgente" class="col-form-label">Autentica e non Urgente:</label>
                            <input type="number" class="form-control" id="autentica_nonurgente" name="autentica_nonurgente" required>
                        </div>
                        <div class="form-group">
                            <label for="nonautentica_urgente" class="col-form-label">Non Autentica e Urgente:</label>
                            <input type="number" class="form-control" id="nonautentica_urgente" name="nonautentica_urgente" required>
                        </div>
                        <div class="form-group">
                            <label for="nonautentica_nonurgente" class="col-form-label">Non Autentica e non Urgente:</label>
                            <input type="number" class="form-control" id="nonautentica_nonurgente" name="nonautentica_nonurgente" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                    <button type="button submit" id="send_insert_new_price" class="btn btn-primary">Aggiungi</button>
                </div>
            </div>
        </div>
    </div>

    <div class="overlay"></div>
    
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrapV4.min.js"></script>
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/Edit_prices_copy_document.js"></script>
</body>
</html>