<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Area Privata</title>

    <link rel="icon" href="/img/favicon.ico" sizes="16x16">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="/css/bootstrapV4.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/css/style3.css">
    <link rel="stylesheet" href="/css/flaty.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>

</head>

<body>

    <div class="wrapper">

        <!-- Page Content  -->
        <div id="content">

            <div class="row">
                <div class="col-sm-5" style="padding-left: 0px; padding-right: 0px;">
                    <a class="link_esterno" href="http://www.tribunale.brescia.giustizia.it/default.aspx"
                        title="Tribunale di brescia">
                        <img src="/img/header.jpg" alt="Logo Ufficio Giudiziario" title="Logo Ufficio Giudiziario"></a>
                </div>
                <div class="col-sm-4 mt-4" style="padding-left: 0px; padding-right: 0px;">
                    <div id="ctl00_header_pnlCerca" class="cercabox"
                        onkeypress="javascript:return WebForm_FireDefaultButton(event, 'ctl00_header_btnCerca')">
                        <div class="input-group">
                            <label for="ctl00_header_txtCerca" id="ctl00_header_lbl_cerca"></label>
                            <input name="ctl00$header$txtCerca" type="text" value="Cerca nel sito" maxlength="30"
                                id="ctl00_header_txtCerca" title="Cerca nel sito"
                                onblur="if (value == '' ) { value = 'Cerca nel sito'}"
                                onfocus="if (value == 'Cerca nel sito') {value = '' }" class="form-control input-sm">
                            <span class="input-group-btn">
                                <a id="ctl00_header_btnCerca" title="bottone cerca nel sito" class=""
                                    href="javascript:__doPostBack('ctl00$header$btnCerca','')"><img
                                        src="/img/search_ico.jpg"></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3" style="padding-left: 0px; padding-right: 0px;">
                    <img class="float-right" src="/img/logo_giustizia.jpg" alt="Logo Giustizia"
                        title="Logo della Giustizia">
                </div>
            </div>

            <nav class="navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#nav-tribunale">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="nav-tribunale">
                        <ul class="nav navbar-nav">
                            <li><a class="link_esterno" href="http://www.tribunale.brescia.giustizia.it/default.aspx"
                                    id="ctl00_menu_navigazione_link_0">Home</a></li>
                            <li id="ctl00_menu_navigazione_link_1"><a class="link_esterno hidden-xs"
                                    href="http://www.tribunale.brescia.giustizia.it/elenco_chisiamo.aspx">Il
                                    Tribunale</a class="link_esterno"></li>
                            <li class="dropdown visible-xs">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-expanded="false">Il Tribunale <span class="caret float-right"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/elenco_chisiamo.aspx"
                                            title="Chi siamo">Chi siamo</a class="link_esterno"></li>
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/elenco_cosafacciamo.aspx"
                                            title="Cosa facciamo">Cosa facciamo</a class="link_esterno"></li>
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/elenco_comeraggiungerci.aspx"
                                            title="Come arrivare">Come raggiungerci</a class="link_esterno">
                                    </li>
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/elenco_comunicare.aspx"
                                            title="Per comunicare con noi">Per comunicare con noi</a
                                            class="link_esterno"></li>
                                    <li><a href="/login" title="Area Riservata">Area Riservata</a class="link_esterno">
                                    </li>
                                </ul>
                            </li>
                            <li id="ctl00_menu_navigazione_link_2"><a class="link_esterno hidden-xs"
                                    href="http://www.tribunale.brescia.giustizia.it/ufficigiudiziari_distretto/informazioni.aspx">Uffici
                                    Giudiziari del Distretto</a class="link_esterno"></li>
                            <li class="dropdown visible-xs">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-expanded="false">Uffici Giudiziari del
                                    Distretto <span class="caret float-right"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/ufficigiudiziari_distretto/informazioni.aspx"
                                            title="Informazioni generali degli uffici giudiziari">Informazioni
                                            generali</a class="link_esterno">
                                    </li>
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/ufficigiudiziari_distretto/html_distrettuali.aspx"
                                            title="Informazioni Uffici Distrettuali">Uffici Distrettuali (Corte
                                            d'Appello di
                                            Brescia)</a class="link_esterno"></li>
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/ufficigiudiziari_distretto/circ_brescia.aspx"
                                            title="Informazioni Circondario di Brescia">Circondario di Brescia</a
                                            class="link_esterno"></li>
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/ufficigiudiziari_distretto/html_bergamo.aspx"
                                            title="Informazioni Circondario di Bergamo">Circondario di Bergamo</a
                                            class="link_esterno"></li>
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/ufficigiudiziari_distretto/html_crema.aspx"
                                            title="Informazioni Circondario di Crema">Circondario di Crema</a
                                            class="link_esterno"></li>
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/ufficigiudiziari_distretto/html_cremona.aspx"
                                            title="Informazioni Circondario di Cremona">Circondario di Cremona</a
                                            class="link_esterno"></li>
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/ufficigiudiziari_distretto/html_mantova.aspx"
                                            title="Informazioni Circondario di Mantova">Circondario di Mantova</a
                                            class="link_esterno"></li>
                                </ul>
                            </li>
                            <li id="ctl00_menu_navigazione_link_3"><a class="link_esterno hidden-xs"
                                    href="http://www.tribunale.brescia.giustizia.it/guida_ai_servizi.aspx">Servizi per
                                    l'utenza</a class="link_esterno"></li>
                            <li class="dropdown visible-xs">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-expanded="false">Servizi per l'utenza
                                    <span class="caret float-right"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/guida_ai_servizi.aspx"
                                            title="Come fare per...">Come fare per...</a class="link_esterno">
                                    </li>
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/certificazioni.aspx"
                                            title="Certificazioni">Certificazioni</a class="link_esterno"></li>
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/utility.aspx"
                                            title="Utility">Utility</a class="link_esterno"></li>
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/ricerca_ctu.aspx"
                                            title="Ricerca iscritti albo CTU e Periti">Ricerca iscritti albo CTU e
                                            Periti</a class="link_esterno">
                                    </li>

                                </ul>
                            </li>
                            <li><a class="link_esterno"
                                    href="http://www.tribunale.brescia.giustizia.it/modulistica.aspx"
                                    id="ctl00_menu_navigazione_link_4">Moduli</a class="link_esterno"></li>
                            <li id="ctl00_menu_navigazione_link_5"><a class="link_esterno hidden-xs"
                                    href="http://www.tribunale.brescia.giustizia.it/sentenze.aspx">Giurisprudenza</a
                                    class="link_esterno"></li>
                            <li class="dropdown visible-xs">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-expanded="false">Giurisprudenza <span class="caret float-right"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/sentenze/"
                                            title="Giurisprudenza locale">Tribunale di Brescia</a class="link_esterno">
                                    </li>
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/documenti.aspx?d=4"
                                            title="Giurisprudenza generale">Corte di Cassazione</a class="link_esterno">
                                    </li>
                                </ul>
                            </li>
                            <li><a class="link_esterno"
                                    href="http://www.tribunale.brescia.giustizia.it/pubblicita_legale.aspx"
                                    id="ctl00_menu_navigazione_link_6">Pubblicità legale</a class="link_esterno"></li>
                            <li id="ctl00_menu_navigazione_link_7"><a class="link_esterno hidden-xs"
                                    href="http://www.tribunale.brescia.giustizia.it/links.aspx">Links</a
                                    class="link_esterno">
                            </li>

                            <li class="dropdown visible-xs">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-expanded="false">Links <span class="caret float-right"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/links.aspx?p=3"
                                            title="Siti istituzionali">Siti istituzionali</a class="link_esterno"></li>
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/links.aspx?p=1"
                                            title="Motori di ricerca">Motori di ricerca</a class="link_esterno"></li>
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/links.aspx?p=2"
                                            title="Portali giuridici">Portali giuridici</a class="link_esterno"></li>
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/links.aspx?p=4"
                                            title="Fonti normative on-line">Fonti normative on-line</a
                                            class="link_esterno">
                                    </li>
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/links.aspx?p=5"
                                            title="Giurisprudenza on-line">Giurisprudenza on-line</a
                                            class="link_esterno">
                                    </li>
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/links.aspx?p=6"
                                            title="Riviste giuridiche">Riviste giuridiche</a></li>
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/links.aspx?p=7"
                                            title="Il mondo giudiziario">Il mondo giudiziario</a class="link_esterno">
                                    </li>
                                    <li><a class="link_esterno"
                                            href="http://www.tribunale.brescia.giustizia.it/links.aspx?p=8"
                                            title="Programmi di utilità">Programmi di utilità</a class="link_esterno">
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button"
                                    aria-expanded="false" style="width: 115%;"><%= user.nome %> <%= user.cognome %></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/home_page_portal" title="Mia area privata">Mia area privata</a></li>
                                    <li><a href="#" title="Servizio richiesta certificati">Gestione profilo</a></li>
                                    <li><a href="/logout" title="Servizio richiesta copie atti giudiziari">Esci</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container-fluid breadcrumb">
                <span>Sei in:&nbsp;&nbsp;</span><a href="/home_page_portal">Area Riservata</a>
            </div>

            <div class="row mt-4">
                <div class="col-sm-2">
                    <div>
                        <h3 class="servizi">
                            <strong>Servizi telematici</strong></h3>
                        <ul class="menu-list">
                            <li><a href="/service_certificates_request" title="Servizio richiesta certificati">Servizio
                                    richiesta certificati</a></li>
                            <li><a href="/service_paper_document_copy_request"
                                    title="Servizio copie atti giudiziari">Servizio copie atti giudiziari</a></li>
                        </ul>
                    </div>
                    <div class="mt-3">
                        <h3 class="comunicazioni">
                            <strong>Comunicazioni</strong></h3>
                        <ul class="menu-list">
                            <li><a href="/all_messages"
                                    title="Comunicazioni ed avvisi dalla cancelleria del Tribunale">Comunicazioni e
                                    avvisi</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Modifica dei dati personali.</h4>
                            <hr>
                            <p>In quest'area puoi vedere i tuoi dati personali ed eventualmente aggiornarli.</p>
                        </div>
                        <div class="col-sm-6">
                            <div class="bordo mx-2">
                                <div class="m-2">
                                    <div class="float-left mt-2"><strong>Dati personali</strong></div>
                                    <div class="float-right">
                                        <a id="edit_personal_data" data-toggle="modal" data-target="#modal_edit_personal_data"
                                            style="cursor: pointer;">Modifica<img src="/img/modifica_ico.png" href="#"
                                                title="Modifica dati personali" alt="icona di modifica" style="width: 34px;height: 34px;"></a>
                                    </div>
                                    <br>
                                    <div>
                                        <hr>
                                        <p><span>Utente: </span><span id="nome"><%= user.nome %> <%= user.cognome %></span></p>
                                        <p><span>E-mail: </span><span id="email"><%= user.email %></span></p>
                                        <p><span>Codice Fiscale: </span><span id="c_f"><%= user.codicefiscale %></span></p>
                                        <p>Password: ********</p>
                                        <% if (user.telefono) { %>
                                        <p><span>Telefono: </span><span id="telefono"><%= user.telefono %></span></p>
                                        <%} else { %>
                                        <p><span>Telefono: </span><span id="telefono">Non specificato</span></p>
                                        <% } %>
                                        <% if (user.indirizzo) { %>
                                        <p><span>Indirizzo: </span><span id="indirizzo"><%= user.indirizzo %></span></p>
                                        <%} else { %>
                                        <p><span>Indirizzo: </span><span id="indirizzo">Non specificato</span></p>
                                        <% } %>
                                        <% if (user.ragione_sociale) { %>
                                        <p><span>Ragione Sociale: </span><span id="rag_sociale"><%= user.ragione_sociale %></span>
                                        </p>
                                        <%} else { %>
                                        <p><span>Ragione Sociale: </span><span id="rag_sociale">Non specificato</span></p>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="col-sm-2">
                    <div>
                        <h3 class="cerca">
                            <strong>Ricerca servizi</strong>
                        </h3>
                        <form id="form_cerca_servizio" action="/search_service" method="POST">
                            <div class="bordo mt-4">
                                <div class="form-group">
                                    <label for="name_service">Ricerca servizi per nome</label>
                                    <input type="name_service" class="form-control" id="name_service"
                                        name="name_service" placeholder="Nome del servizio...">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-default">Cerca</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <footer class="hiddenApp_ug">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 footer">
                            <p class="link-footer text-center">
                                <a class="link_esterno"
                                    href="http://www.tribunale.brescia.giustizia.it/segnalazioni.aspx">Redazione</a>|<a
                                    class="link_esterno"
                                    href="http://www.tribunale.brescia.giustizia.it/Mappa_sito.aspx">Mappa
                                    del sito</a class="link_esterno">|<a class="link_esterno"
                                    href="http://www.tribunale.brescia.giustizia.it/accessibile.aspx">Accessibilità</a
                                    class="link_esterno">|
                                <a class="link_esterno"
                                    href="http://www.tribunale.brescia.giustizia.it/note_legali.aspx">Note legali</a
                                    class="link_esterno">| <a href="/logout">Esci</a>
                            </p>
                            <hr>
                            <p class="text-center">
                                Tribunale di brescia
                                -
                                Via L. Gambara, 40
                                -
                                25121
                                Brescia
                                (BS)
                                <br>
                                Centralino:
                                030.7672111
                                <br>
                            </p>
                            <hr>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!-- modal personal data-->
        <div class="modal fade" id="modal_edit_personal_data" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modifica dati personali</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="form-update-data-user">
                            <div class="form-group">
                                <label for="data_user_name" class="col-form-label">Utente*:</label>
                                <input type="text" class="form-control" id="data_user_name" disabled="disabled">
                            </div>
                            <div class="form-group">
                                <label for="data_user_email" class="col-form-label">E-mail*:</label>
                                <input type="email" class="form-control" id="data_user_email" disabled="disabled">
                            </div>
                            <div class="form-group">
                                <label for="data_user_cf" class="col-form-label">Codice fiscale*:</label>
                                <input type="text" class="form-control" id="data_user_cf" disabled="disabled">
                            </div>
                            <div class="form-group">
                                <label for="data_user_password" class="col-form-label">Nuova password:</label>
                                <input type="password" class="form-control" id="data_user_password"
                                    name="data_user_password" placeholder="**********">
                            </div>
                            <div class="form-group">
                                <label for="data_user_telefono" class="col-form-label">Telefono:</label>
                                <input type="tel" class="form-control" id="data_user_telefono" name="data_user_telefono"
                                    placeholder="Inserisci qui il tuo numero di telefono">
                            </div>
                            <div class="form-group">
                                <label for="data_user_indirizzo" class="col-form-label">Indirizzo:</label>
                                <input type="text" class="form-control" id="data_user_indirizzo"
                                    name="data_user_indirizzo" placeholder="Inserisci qui il tuo indirizzo">
                            </div>
                            <div class="form-group">
                                <label for="data_user_rs" class="col-form-label">Ragione Sociale:</label>
                                <input type="text" class="form-control" id="data_user_rs" name="data_user_rs"
                                    placeholder="Inserisci qui la tua ragione sociale">
                            </div>
                            <p> * : campi non modificabili.</p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                        <button type="button" id="send_update_data_user" class="btn btn-primary">Aggiorna</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="overlay"></div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrapV4.min.js"></script>
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/Home_Page_Portal.js"></script>
</body>

</html>