<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Area Privata</title>

    <link rel="icon" href="/img/favicon.ico" sizes="16x16">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="/css/bootstrapV4.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/css/style3.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>

</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" class="bg-light">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <h3>Menu</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="p-2">
                    <a href="/home_page_portal" class="list-group-item list-group-item-action selected">Home</a>
                </li>
                <li class="p-2">
                    <a href="#elenco_servizi" class="list-group-item list-group-item-action" data-toggle="collapse"
                        aria-expanded="false">Servizi</a>
                    <!-- <a href="#"  >Servizi</a> -->
                    <ul class="collapse list-unstyled" id="elenco_servizi">
                        <li class="p-2">
                            <a href="/service_certificates_request"
                                class="list-group-item list-group-item-action">Richiesta certificati</a>
                        </li>
                        <li class="p-2">
                            <a href="/service_paper_document_copy_request"
                                class="list-group-item list-group-item-action">Richiesta copie atti giudiziari</a>
                        </li>
                    </ul>
                </li>
                <li class="p-2">
                    <a href="/all_messages" class="list-group-item list-group-item-action">Comunicazioni</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn bordo-btn">
                        <img src="/img/menu_ico.png" alt="" style="width: 24px; height: 24px;">
                        <strong>Menu</strong>
                    </button>

                    <a class="no_underline_blue" href="/home_page_portal">
                        <h1 class="display-4">Area Riservata</h1>
                    </a>
                    <img class="float-right" src="/img/logo_giustizia_alfa.png" alt="Logo Giustizia"
                        title="Logo della Giustizia">
                </div>
            </nav>

            <div class="container-fluid breadcrumb hiddenApp_ug">
                <span>Sei in:&nbsp;&nbsp;</span><a href="/home_page_portal">Home</a>
            </div>

        
            <!--Middle content-->
            <div class="container-fluid mt-4">
                <div class="col-sm-8 mx-auto">
                    <div class="float-left">
                        <h4>Benvenuto/a, <%= user.nome %> <%= user.cognome %>.</h4>
                    </div>
                    <div class="float-right"><a class="btn btn-danger text-center" href="/logout">Esci</a></div>
                    <br>
                    <br>
                    <div class="float-left">
                        <a class="bordo" data-toggle="modal" data-target="#modal_edit_personal_data" style="cursor: pointer;">Modifica password d'accesso
                            <img src="/img/modifica_ico.png" href="#" alt="icona di modifica" style="width: 34px;height: 34px;">
                        </a>
                        <span style="display: none;"><%= user.nome %></span>
                        <span style="display: none;"><%= user.cognome %></span>
                        <span style="display: none;"><%= user.username %></span>
                    </div>
                    <br>
                    <br>
                    <br>
                    <p>Dal pannello laterale "Servizi" puoi accedere alle sezioni dedicate ai servizi telematici.</p>
                    <p>Qui sono mostrate le recenti richieste di servizi da parte dei cittadini.</p>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="bordo mx-2">
                                <div class="m-2">
                                    <div class="mt-2">
                                        <p><strong>Richieste di certificati</strong>&nbsp;&nbsp;&nbsp;<%= pendent_certificates.length %></p>
                                    </div>
                                    <hr>
                                    <% if (pendent_certificates.length == 0) { %>
                                    <p>Nessuna richiesta</p>
                                    <% } else { %>
                                    <% pendent_certificates.forEach(function(certificate){ %>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <a href="/service_certificates_request"><%= certificate.date_request.toLocaleDateString('it-IT', {day: 'numeric', month: 'numeric', year: 'numeric'}); %>&nbsp;&nbsp;
                                                    <% if (certificate.type_name.length > 40) { %>
                                                    <%= certificate.abbreviation_name %>
                                                    <% } else { %>
                                                    <%= certificate.type_name %>
                                                    <% } %>
                                                </a>
                                            </div>
                                            <div class="col-md-4 text-center">
                                                <p><%= certificate.status_request %></p>
                                            </div>
                                        </div>
                                        <hr>
                                    <% }) %>
                                    <% } %>
                                    <% if (total_pendent_certificates > 5) { %>
                                        <a href="/service_certificates_request">e altre <%= total_pendent_certificates-5 %> richiesta/e...</a>
                                    <% } %>
                                </div>
                            </div>  
                        </div>
                        <div class="col-sm-6">
                            <div class="bordo mx-2">
                                <div class="m-2">
                                    <div class="float-left mt-2"><p><strong>Richiesta copie atti giudiziari</strong></div>
                                    <br>
                                    <hr>
                                    <% if (total_pendent_copy_document == 0) { %>
                                    <p>Nessuna richiesta</p>
                                    <% } else { %>
                                    <% pendent_copy_document.forEach(function(copy_request){ %>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <a href="/service_paper_document_copy_request"><%= copy_request.data.toLocaleDateString('it-IT', {day: 'numeric', month: 'numeric', year: 'numeric'}); %>&nbsp;&nbsp;
                                                <% if (copy_request.autentica == 1) { %>
                                                    Autentica
                                                <% } else { %>
                                                    Non autentica
                                                <% } %>
                                                <% if (copy_request.urgente == 1) { %>
                                                    Urgente
                                                <% } else { %>
                                                    Non urgente
                                                <% } %>
                                            </a>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <p><%= copy_request.status_request %></p>
                                        </div>
                                    </div>
                                    <hr>
                                    <% }) %>
                                    <% } %>
                                    <% if (total_pendent_copy_document > 5) { %>
                                    <a href="/service_paper_document_copy_request">e altre <%= total_pendent_copy_document-5 %> richiesta/e...</a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="modal_edit_personal_data" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifica dati d'accesso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form-update-data-user">
                        <div class="form-group">
                            <label for="data_username" class="col-form-label">Utente*:</label>
                            <input type="text" class="form-control" id="data_username" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label for="data_user_name" class="col-form-label">Nome*:</label>
                            <input type="text" class="form-control" id="data_user_name" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label for="data_user_surname" class="col-form-label">Cognome*:</label>
                            <input type="email" class="form-control" id="data_user_surname" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label for="data_user_password" class="col-form-label">Nuova password:</label>
                            <input type="password" class="form-control" id="data_user_password" name="data_user_password"
                                placeholder="**********">
                        </div>
                        <p> * : campi non modificabili.</p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                    <button type="button" id="send_update_data_user" class="btn btn-primary">Aggiorna</button>
                </div>
            </div>
        </div>
    </div>

    <div class="overlay"></div>
    
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrapV4.min.js"></script>
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/Home_Page_Portal_Office.js"></script>
</body>
</html>